
main {
    /* height: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    /* overflow: scroll; */
    /* flex-wrap: wrap; */
    /* background: black; */
} 

.grid-container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); */
    gap: 20px;
   
}

main h1 {
    color:white;
    font-size: 2rem;
    margin:10px;
    padding: 10px;
    text-align: center;
}

.card {
    border: 10px solid rgb(223, 134, 101);
    display: flex;
    flex-direction: column;
}

.card--image {
    width:100%;
    display:block;
}

.card--content {
    line-height: 1.5;
    font-size: 1rem;
    padding: 15px;
    color: white;
}

.card--content > p:first-of-type {
    margin-top: 0;

}
.card--content > p:last-of-type {
    margin-bottom: 0;
}

.card--icons {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-bottom: 2px solid #ccc;
}
.card--icons i {
    padding: 15px;
}