h1 span {
    font-size: 42px ;
    transform-origin: bottom;
    font-family: 'Shadows Into Light', cursive;
    height: 400px;
    width: 50px;
    
    /* left: 50;
    top: 50; */
    position: absolute; 
    top:12%;
    left:50%;
    /* transform: translate(-12%,24%); */
    }
    .c1 {
    transform: rotate(-10deg);
    }
    .c2 {
    transform: rotate(-6deg);
    }
    .c3 {
    transform: rotate(-2deg);
    }
    .c4 {
    transform: rotate(2deg);
    }
    .c5 {
    transform: rotate(6deg);
    }
    .c6 {
    transform: rotate(10deg);
    }
    .c7 {
    transform: rotate(14deg);
    }
    .c8 {
    transform: rotate(18deg);
    }
    
    