
/* Hover effects for shape-image container */

.randomshape:hover{
    opacity: 0.7;
     left: 20%;
     transition: left 1s ease-in-out;
 }
 
 .randomshape:hover #image {
     transform: scale(1.3);
     transition: all 0.5s ease-out;
 }
     
 
 .randomshape:hover #text {
     color: white;
     transition:  color 0.5s ease-in;
 }
   
 
 #hover-a:hover .fa-linkedin:before { 
    color: coral
}

#hover-a:hover .fa-square-github:before { 
    color: coral
}

#hover-a:hover .fa-envelope:before { 
    color: coral;
}
